<%@page_title = "Jobs"%>
<div class="jobs_list">
<h2>Browse Jobs</h2>
<ul id="sub_nav">
  <li id="subnav_all" <%=%q{class="active"} if current_page?(home_path)%>><%=link_to_remote "All Jobs", { :url => home_path, :method => :get}, :href => home_path%></li>
  <%for cat in Job::CATEGORIES%>
  <li id="subnav_<%=cat.downcase%>" <%=%q{class="active"} if current_page?(category_path(cat.downcase))%>>
    <%=link_to_remote "#{cat}", {:url => category_path(cat.downcase), :method => :get }, :href => category_path(cat.downcase) %>
    <%=link_to "What is this?", page_path('community_listings'), :style => "font-weight:normal;font-style:italic; font-size:90%;background:none; color:#666" if cat.downcase == 'community'%>
  </li>
  <%end%>
</ul>
<div id="jobs">
<%=render :partial => "jobs", :object => @jobs%>
</div>
</div>

<%content_for :right do%>
  <%=render :partial => "right"%>
<%end%>