<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title><%=page_title "Ruby on Rails Work > "%></title>
<!--- Stylesheets -->
<%=stylesheet_link_tag "railswork"%>
<!--[if IE 6]>
<link href="/stylesheets/ie6.css" media="screen" rel="Stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 7]>
<link href="/stylesheets/ie7.css" media="screen" rel="Stylesheet" type="text/css" />
<![endif]-->

<!--- Javascript Documents -->
<%=javascript_include_tag "prototype", "effects", "railswork" %>

<!--- RSS Feeds -->
<link href="/jobs/all.rss" rel="alternate" title="Rails Work - All Jobs" type="application/rss+xml" /><%for cat in Job::CATEGORIES-%>
<link href="/jobs/<%=cat.downcase%>.rss" rel="alternate" title="Rails Work - <%=cat%> Jobs" type="application/rss+xml" /><%end%>

<!--- Favicon -->
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<div id="wrapper">
  <h1>Rails Work</h1>
  <hr class="hidden" />
  
  <div id="header">
    <p>Welcome to the ruby on rails job board</p>
    <%form_tag "/search" do%>
    <ul>
      <li><%=link_to "Browse Jobs", home_path%></li>
      <li class="advice"><%=link_to "Post New Job", new_job_path%></li>
      <li class="search"><label for="search_input">Search</label></li>
      <li><%=text_field_tag :q, params[:q], :class => "inactive", :id => "search_input"%></li>
    </ul>
    <%end%>
    <%if logged_in?%>
    <div class="user_nav">
      
      <ul>
        <%if admin?%><li><%=link_to "Coupon Manager", coupons_path%></li><%end%>
      </ul>
      <p>Logged in as <%=@current_user.name%> [<%=link_to "Logout", logout_path%>]</p>
    </div>
    <%end%>
  </div>
  
  
  <hr class="hidden" />
  
  <div id="content">
    <div class="inner">
      <%=flash_display%>
      <%=yield%>
    </div>
  </div>
  
  <hr class="hidden" />
  
  <div id="right">
    <div class="inner">
      <%=yield :right%>
    </div>
  </div>
  
  <hr class="hidden" />
  
  <div id="footer">
    <p class="nav"><%=link_to "About RailsWork!", page_path('about')%> | <%=link_to "Terms of Service", page_path('terms')%></p>
    <p>"Rails", "Ruby on Rails" and the Rails logo are trademarks of <%=link_to "David Heinemeier Hansson", "http://www.loudthinking.com", :rel => "external nofollow"%>. All Rights Reserved.</p>
    <p>From the same guys who brought you <%=link_to "RailsForum", "http://www.railsforum.com", :rel => "external"%> and <%=link_to "Railsify", "http://www.railsify.com", :rel => "external"%>.</p>
    <p>RailsWork design and application &copy; Copyright <%=mail_to "mail@railsify.com", "The Railsify Team", :encode => "hex"%>.</p>
    <!---<p class="supporters">Supported by: <%=link_to image_tag("railswork/supporter_atech.png", :alt => "aTech Media", :title => "aTech Media"), "http://www.atechmedia.com", :rel => "external nofollow"%></p>-->
  </div>
  
</div>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-247671-12";
urchinTracker();
</script>
</body>
</html>